body 	    {font-family: "Times New Roman", Times, serif;
      		 margin: 5%;
           font-size: 14pt;}

h1  	    {font-family: Verdana, Arial, sans-serif;
      		 font-size:2.75em;
           padding-bottom: 15px;
      		 text-align: center;}

h3  	     {font-family: Verdana, Arial, sans-serif;
      		  font-size:1.5em;
      		  text-align: center;
            padding-bottom: 10px;}

p   	     {text-align: justify;}

blockquote {font-size: .85em;
			      font-style: italic;
            padding-top: 5px;
            padding-bottom: 5px;}
